## Tell the configuration system it should stop looking for other configuration files (default: false).
config.stopBubbling = true

#
## Generate setters that return 'this' instead of 'void' (default: false).
lombok.accessors.chain = true
## Generate getters and setters using only the field name (no get/set prefix) (default: false).
lombok.accessors.fluent = true

